<section fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="200px" fxFlex.xs="100%">
        <mat-card-title>Are you sure you want to Logout?</mat-card-title>
            <mat-card-content>
                <mat-list>
                    
                    <button type="button" class="confirm" (click)="onYesClick()" mat-mini-fab>
                        <mat-icon>done</mat-icon>
                    </button>
                    
                    <button type="button" class="no" (click)="onCancelClick()" mat-mini-fab>
                        <mat-icon>clear</mat-icon>
                    </button>
                    
                </mat-list>
        </mat-card-content>
</section>

