* {
  margin: 0;
  padding: 0;
}

mat-card-title {
  font-weight: normal;
  text-align: left;
}

button[type="button"] {
  margin: 10px;
  border: 0;
  outline: 0;
  width: 40%;
}

.alert {
  margin-left: 30%;
  font-size: 50px;
  color: red;
  text-align: center;
}