<section fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="300px" fxFlex.xs="100%">
            <mat-card-content>
                <mat-icon class="alert">error_outline</mat-icon><br>
                <mat-card-title style="font-size: medium;">Are you sure you want to Logout?</mat-card-title>
                <mat-list>
                    
                    <button type="button" color="accent" (click)="onYesClick()" mat-raised-button>Yes</button>
                    
                    <button type="button" color="warn" (click)="onCancelClick()" mat-raised-button>No</button>
                    
                </mat-list>
        </mat-card-content>
</section>

