<section fxLayout="row wrap" fxFlex="300px" fxFlex.xs="100%">
    <mat-card-content style="width: 100%;">
        <mat-card-title style="font-size: medium;">Do you want to Exit?</mat-card-title>
        <mat-list style="margin-top: 5px; margin-left: 0;">
            <button style="float: left;margin-right: 10px;" type="button" (click)="onYesClick()" mat-flat-button>Ok</button>
            <button style="float: right;" type="button" (click)="onCancelClick()" mat-button>Cancle</button>
        </mat-list>
    </mat-card-content>
</section>