<section fxLayout="row" fxLayoutAlign="space-around center" class="mt-5">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title align="center">
      <img class="product" src="assets/image/addImage.png">
      Add Product Photo
    </mat-card-title>
    
    <mat-card-content>
      <form (ngSubmit)="onProductPhotoAdd(f)" #f="ngForm" spellcheck="false">

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select Product</mat-label>
          <mat-select autofocus required ngModel name="fk_pro_id" #fk_pro_id="ngModel">
            <mat-option *ngFor="let item of productarr" [value]="item.pro_id">
              {{item.pro_name | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>Please select a Product first !</mat-error>
        </mat-form-field>

        <div class="form-group">
          <div class="rounded p-6">
            <div class="media">
              <div class="media-body">
                <label class="btn btn-sm btn-outline-secondary mb-3 ml-2">
                    {{img_name}}
                    <input required type="file" class="d-none" name="pro_photo" (change)="onChange($event)">
                </label>
              </div>
            </div>
          </div>
        </div>

        <button [disabled]="!f.valid" class="example-full-width" type="submit" mat-raised-button color="accent">+ Add</button>
      
      </form>
    </mat-card-content>
  </mat-card>
</section>