<mat-list>
  <mat-list-item>{{od_id}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-divider></mat-divider>
  <mat-list-item>{{fk_order_id}}</mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>{{fk_pro_id}}</mat-list-item>
  <mat-list-item>{{pro_name}}</mat-list-item>
 <mat-divider></mat-divider>

  <mat-divider></mat-divider>
  <mat-list-item>{{qty}}</mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
