<form [formGroup]="updateuserpic" (ngSubmit)="onuserimageupdate()" spellcheck="false">
  <img height="225px" width="225px" src="{{userurl}}" class="center" onerror="this.src='../../../assets/image/default-avatar.png';">
  <br><br>
  <div class="form-group">
    <div class="rounded p-6">
      <div class="media">
        <div class="media-body">
          <label class="btn btn-sm btn-outline-primary ml-2">
            {{img_text}}
            <input type="file" class="d-none" name="u_img" (change)="onChange($event)">
          </label>
        </div>
        <button type="submit" mat-button color="primary">Update</button>
        <button routerLink="/nav/" type="button" mat-button>Cancel</button>
      </div>
    </div>
  </div>
</form>