<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
    <img height="50" width="50" alt="No Image" align="right" src="http://localhost:3000/images/user_photos/{{user_image}}">
        <mat-card-title>User Details</mat-card-title>
            <mat-card-content>
                <mat-list>

                  <mat-list-item>Email ID :  {{user_email}}</mat-list-item>
                  <mat-divider></mat-divider>

                  <mat-list-item>Username :  {{user_name}}</mat-list-item>
                  <mat-divider></mat-divider>

                  <mat-list-item>Phone No :  {{user_phone}}</mat-list-item>
                  <mat-divider></mat-divider>

                  <mat-list-item>Password :  {{user_password}}</mat-list-item>
                  <mat-divider></mat-divider>

                  <mat-list-item>Address  :  {{user_address}}</mat-list-item>
                  <mat-divider></mat-divider>

                </mat-list>

                <div mat-dialog-actions>
                  <button mat-button (click)="onCancelClick()">Close</button>
                </div>

        </mat-card-content>
    </mat-card>
</section>
