.example-header-image {
  background-size: cover;
}
.example-card {
  max-width: 400px;
}
section {
  overflow: hidden;
}
.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.status-user {
  background-color: #c8e6c9;
  color: #256029;
}
.status-admin {
  background-color: #ffcdd2;
  color: #c63737;
}