.example-header-image {
background-size: cover;
}
.example-card {
max-width: 400px;
}
section {
overflow: hidden;
}
.customer-badge {
border-radius: 2px;
padding: .25em .5em;
text-transform: uppercase;
font-weight: 700;
font-size: 12px;
letter-spacing: .3px;
}

.status-user {
background-color: #C8E6C9;
color: #256029;
}

.status-admin {
background-color: #FFCDD2;
color: #C63737;
}