<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="500px" fxFlex.xs="100%">
    <mat-toolbar>
      <img class="header-image" onerror="this.src='../../../assets/image/default-avatar.svg';" src="http://localhost:3000/images/user_photos/{{ user_image }}"/>
      <div class="mat-card-header ml-3">
        <div mat-dialog-title>{{ user_name | titlecase }}'s Details</div>
      </div>
      <span class="fill-remaining-space"></span>
      <button class="btn-dialog-close" mat-stroked-button tabIndex="-1" (click)="onClose()"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>

    <table class="table">
      <tr scope="col">
        <td>Name</td>
        <td>{{ user_name | titlecase }}</td>
      </tr>
      <tr scope="col">
        <td>Email</td>
        <td>{{ user_email }}</td>
      </tr>
      <tr scope="col">
        <td>Mobile Number</td>
        <td>+91 {{ user_phone | numberMask }}</td>
      </tr>
      <tr scope="col">
        <td>Address</td>
        <td><address>{{ user_address | titlecase }}</address></td>
      </tr>
    </table>
  </div>
</div>