.example-header-image {
background-size: cover;
}
.example-card {
max-width: 400px;
}
section {
overflow: hidden;
}
.admin {
color: green;
font-weight: bold;
}
.user {
color: navy;
font-weight: bold;
}