<div class="grid-container">
  <h1 class="mat-h1">Users</h1>
</div>

<mat-progress-bar *ngIf="userarr.length<0" color="warn" mode="indeterminate"></mat-progress-bar>

<mat-form-field class="filterClass" appearance="fill">
  <input matInput (keyup)="applyFilter($event.target.value)">
  <mat-label>Search</mat-label>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<button [disabled]="del_arr.length==0" mat-raised-button matTooltip="Delete User" (click)="openSnackBar('1 Record Deleted Successfully.','')" (click)="ondeleteallclick()" color="warn" class="deletebutton">
  <mat-icon>delete_outlined</mat-icon>
  <span>Delete</span>
</button>

<!-- <button routerLink='/nav/addUser' mat-raised-button matTooltip="Add User" color="primary" class="addbutton">
  <mat-icon>add</mat-icon>
  <span>Add</span>
</button> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      (change)="oncheckboxchange(row)"
                      [checked]="selection.isSelected(row)"
                      >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="u_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.u_name | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="u_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row"
      [ngClass]="{
        'admin' : row.u_type == 'admin',
        'user' : row.u_type == 'user'}"> {{row.u_type | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="openDialog(row)"  matTooltip="View more" mat-icon-button style="color: blue">
          <mat-icon>view_headline_outlined</mat-icon>
        </button>
        <!-- <button (click)="OnUserEdit(row)"  matTooltip="Edit" mat-icon-button>
          <mat-icon>edit_outlined</mat-icon>
        </button> -->
        <button (click)="OnUserMail(row)"  matTooltip="Mail" mat-icon-button style="color: rgb(217, 48, 37);">
        <mat-icon>mail</mat-icon>
      </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  
</div>