<mat-form-field class="filterClass">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search User...">
</mat-form-field>

<button routerLink='/addUser' mat-mini-fab matTooltip="To add user manually!" color="accent" class="addbutton">
  <mat-icon>add</mat-icon>
</button>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>

          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="u_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.u_name}} </td>
        </ng-container>

        <ng-container matColumnDef="u_mobileno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone NUmber </th>
          <td mat-cell *matCellDef="let row"> {{row.u_mobileno}} </td>
        </ng-container>

        <ng-container matColumnDef="u_image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
          <td mat-cell *matCellDef="let row">

          <img  height="100" width="100" src="http://localhost:3000/images/user_photos/{{row.u_image}}">
          </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let row">
            <button (click)="OnViewMore(row)" mat-icon-button style="color: blue">
              <mat-icon>view_headline</mat-icon>
            </button>
          </td>
        </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let row">
            <button (click)="onDelete(row)" mat-icon-button color="warn">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let row">
            <button (click)="OnUserEdit(row)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram">
                  <div>E-mail:  {{element.u_email_id}}</div>
                <div>&nbsp;</div>
                 <div>Password:  {{element.u_password}}</div>
                 <div>&nbsp;</div>
                 <div>Address: {{element.u_address}}</div>
                </div>
            </div>
          </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element"></tr>
         <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
         <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"> -->
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
