<form class="example-form" [formGroup]="cartdeatil_update" (ngSubmit)="onCartEdit()">

  <mat-form-field class="example-full-width">
    <input matInput formControlName="qty" placeholder="Enter Quantity">
    <mat-error *ngIf="cartdeatil_update.get('qty').hasError('required') && !cartdeatil_update.get('qty').pristine">Quantity is required</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="total" placeholder="Enter Total">
    <mat-error *ngIf="cartdeatil_update.get('total').hasError('required') && !cartdeatil_update.get('total').pristine">Total is required</mat-error>
  </mat-form-field>

  <button class="example-full-width" type="submit" mat-raised-button color="accent">Edit Cart Detail</button>
</form>
