table {
width: 100%;
}
.mat-form-field {
font-size: 16px;
width: 100%;
}
td, th {
width: 15%;
}
.addbutton {
margin-top: 10px;
margin-right: 10px;
float: right;
}
.deletebutton {
margin-top: 10px;
margin-right: 10px;
float: right;
}
.mat-elevation-z8 {
margin-left: 10px;
margin-right: 10px;
}
.filterClass {
margin-left: 10px;
width: 50%;
}
.grid-container {
margin: 20px;
}



tr.example-detail-row {
height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
overflow: hidden;
display: flex;
}

.example-element-diagram {
min-width: 80px;
padding: 8px;
font-weight: lighter;
margin: 8px;
}
.customer-badge {
border-radius: 2px;
padding: .25em .5em;
text-transform: uppercase;
font-weight: 700;
font-size: 12px;
letter-spacing: .3px;
}
.status-delivered {
background-color: #C8E6C9;
color: #256029;
}
.status-ontheway{
background-color: #ECCFFF;
color: #694382;
}
.status-packing {
background-color: #FFCDD2;
color: #C63737;
}