<div class="grid-container">
  <h1 class="mat-h1">Categories</h1>
</div>

<mat-form-field class="filterClass" appearance="fill">
  <input matInput (keyup)="applyFilter($event.target.value)">
  <mat-label>Search</mat-label>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<button  routerLink='/nav/addcategory' mat-raised-button  matTooltip="Add Category" color="primary" class="addbutton">
  <mat-icon>add</mat-icon>
  <span>New</span>
</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <ng-container matColumnDef="c_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let row"> {{row.c_id}} </td>
    </ng-container>

    <ng-container matColumnDef="c_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row"> {{row.c_name | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let row">
        <button
          (click) = "openDeleteConfirm(row)"
          matTooltip="Delete"  
          mat-icon-button 
          color="warn">
          <mat-icon>delete_outlined</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="OnCategoryEdit(row)"  matTooltip="Edit" mat-icon-button>
          <mat-icon>edit_outlined</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9999">
        No data...
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>