<div class="grid-container">
  <h1 class="mat-h1">Assigned Orders</h1>
</div>

<mat-progress-bar *ngIf="ordersArr.length<0" color="warn" mode="indeterminate"></mat-progress-bar>

<mat-form-field class="filterClass" appearance="fill">
  <input matInput (keyup)="applyFilter($event.target.value)">
  <mat-label>Search</mat-label>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<button (click)="onAddClick()" mat-raised-button color="primary" matTooltip="Assign Order" class="addbutton">
  <mat-icon>add</mat-icon>Assign Order
</button>

<div class="mat-elevation-z8">
  
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <!-- <ng-container matColumnDef="order_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
      <td mat-cell *matCellDef="let row"> {{row.order_id}} </td>
    </ng-container> -->

    <ng-container matColumnDef="deliveryboy_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Partner</th>
      <td mat-cell *matCellDef="let row"> {{row.deliveryboy_name | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryboy_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let row"> {{row.order_amount | currency:"INR"}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row"> {{row.date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <button  (click)="openDialog(row)" matTooltip="View more" mat-icon-button style="color: blue">
          <mat-icon>launch</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10,25,100]" showFirstLastButtons></mat-paginator>
</div>
