<!-- <section fxLayout="row wrap" fxLayoutAlign="space-around" fxFlexFill>
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <img src="../../assets/image/orderdetails.png" class="mb-4">
    <mat-card-title>Order Details</mat-card-title>
    <table class="table">
      <tr>
        <td><b>Email</b></td>
        <td>{{fk_u_email_id}}</td>
      </tr>
      <tr>
        <td><b>Bill Date</b></td>
        <td>{{order_date | date : 'mediumDate'}}</td>
      </tr>
      <tr>
        <td><b>Payment Method</b></td>
        <td>{{payment_type | uppercase}}</td>
      </tr>
      <tr>
        <td><b>Order Status</b></td>
        <td>{{order_status | titlecase}}</td>
      </tr>
      <tr>
        <td><b>Billing Address</b></td>
        <td><address>{{user_addr | titlecase}}</address></td>
      </tr>
      <tr>
        <td><b>Customer Contact</b></td>
        <td>+91 {{user_mob}}</td>
      </tr>
    </table>
  </mat-card>

  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Products</mat-card-title>
    <mat-card-subtitle>Ordered products listed below with quantity</mat-card-subtitle>

    <mat-card-header *ngFor="let item of ordermultiple">
      <img src="http://localhost:3000/images/product_photos/{{item.pro_photo}}" mat-card-avatar>
      <mat-card-title>{{item.pro_name | titlecase}}'s</mat-card-title>
      <mat-card-subtitle>Qty:  x{{item.qty}}</mat-card-subtitle>
    </mat-card-header><hr>
    
    <h2>Grand Total: <span class="text-success">{{order_amount | currency:"INR"}}</span></h2>
  </mat-card>
</section> -->
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
      <tr class="top">
          <td colspan="2">
              <table>
                  <tr>
                      <td class="title">
                          <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
                      </td>
                      
                      <td>
                          Invoice #: {{order_id}}<br>
                          Created: {{order_date | date : 'mediumDate'}}
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      
      <tr class="information">
          <td colspan="2">
              <table>
                  <tr>
                      <td>
                          Billed To:<br>
                          {{user_addr | titlecase}}
                      </td>
                      
                      <td>
                          {{user_mob}}<br>
                          {{fk_u_email_id}}
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      
      <tr class="heading">
          <td>
              Payment Method
          </td>
          <td></td>
      </tr>
      
      <tr class="details">
          <td>
            {{payment_type | uppercase}}
          </td>
          <td></td>
      </tr>
      
      <tr class="heading">
          <td>
              Item
          </td>
          <td>
              Qty
          </td>
      </tr>
      
      <tr class="item" *ngFor="let item of ordermultiple">
          <td>
            {{item.pro_name | titlecase}}
          </td>
          <td>
            x{{item.qty}}
          </td>
      </tr>
      
      <tr class="total">
          <td>
            Total:{{order_amount | currency:"INR"}}
          </td>
      </tr>
  </table>
</div>