.example-form {
width:100%;
}
.example-full-width {
width: 95%;
margin-top: 10px;
margin-left:10px;
}
.hint
{
color: red;
font-size: 11px;
font-weight: bolder;
}
.label
{
color: red;
font-size: 14px;
font-weight: bolder;
}
mat-icon {
font-size: 26px !important;
}
mat-label{
color: darkblue;
}
input[type="password"],input[type="password"]:focus{
    background-color:transparent;
    outline: 0 none !important;
    border: 0;
    height: 0;
    outline-style: none;
}