<mat-form-field class="filterClass">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Here">
</mat-form-field>

<button mat-raised-button matTooltip="Delete User" color="warn" class="deletebutton">
  <span>Delete</span>
</button>

<button routerLink='/nav/addOrder' mat-raised-button matTooltip="Add Desired Product Wisely" color="accent" class="addbutton">
  <!-- <mat-icon>add</mat-icon> -->
  <span>Add</span>

</button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.order_id}} </td>
      </ng-container> -->

      <ng-container matColumnDef="order_amount">
        <th mat-header-cell *matHeaderCellDef> Order Amount </th>
        <td mat-cell *matCellDef="let row"> {{row.order_amount | currency:"INR"}} </td>
      </ng-container>

      <ng-container matColumnDef="order_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
        <td mat-cell *matCellDef="let row"> {{row.order_date | slice : 0 : 10}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="fk_u_email_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Email id </th>
        <td mat-cell *matCellDef="let row"> {{row.fk_u_email_id}} </td>
      </ng-container> -->

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let row">
          <button (click)="openDialog(row)" mat-icon-button style="color: blue">
            <mat-icon>view_headline_outlined</mat-icon>
          </button>
        </td>
      </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let row">
          <button (click)="onDelete(row)" mat-icon-button color="warn">
            <mat-icon>delete_outlined</mat-icon>
          </button>
        </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let row">
          <button (click)="OnOrderEdit(row)" mat-icon-button>
            <mat-icon>edit_outlined</mat-icon>
          </button>
        </td>
        </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let element; columns: displayedColumns;">

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
