<div class="grid-container">
  <h1 class="mat-h1">Orders</h1>
</div>
<mat-progress-bar *ngIf="orderarr.length<0" color="warn" mode="indeterminate"></mat-progress-bar>

<mat-form-field class="filterClass" appearance="fill">
  <input matInput (keyup)="applyFilter($event.target.value)">
  <mat-label>Search</mat-label>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>

      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="order_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
      <td mat-cell *matCellDef="let row">{{row.order_date | date : 'mediumDate'}}</td>
    </ng-container>

    <ng-container matColumnDef="order_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Amount</th>
      <td mat-cell *matCellDef="let row">{{row.order_amount | currency:"INR"}}</td>
    </ng-container>

    <ng-container matColumnDef="order_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-list>
          <mat-chip style="font-size: x-small;" color="{{ row.order_status == 'packing' ? 'warn' : (row.order_status == 'on the way' ? 'accent' : 'primary')}}" selected>
            {{row.order_status | titlecase}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="openDialog(row.order_id)" matTooltip="View more" mat-icon-button style="color: blue">
          <mat-icon>launch</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9999">
        No data...
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;">

  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
