
<form class="example-form" (ngSubmit)="OnProductEdit(f)" #f="ngForm">
  <mat-form-field class="example-full-width">
      <input name="pro_id" [(ngModel)]=pro_id1 #pro_id="ngModel" matInput type="number" placeholder="Enter Product id:">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input name="pro_name" [(ngModel)]=pro_name1 #pro_name="ngModel" matInput type="text" placeholder="Enter Product Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input name="pro_mfg" [(ngModel)]=pro_mfg1 #pro_mfg="ngModel" type="text" matInput placeholder="Enter Product Manufacturer">
      <mat-icon matSuffix><i class="fal fa-industry-alt"></i></mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input name="pro_price" [(ngModel)]=pro_price1 #pro_price="ngModel" type="number" matInput placeholder="Enter Product Price">
      <mat-icon matSuffix><i class="fal fa-rupee-sign"></i></mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input name="pro_desc" [(ngModel)]=pro_desc1 #pro_desc="ngModel" type="text-area" matInput placeholder="Enter Product Description">
      <mat-icon matSuffix><i class="fal fa-file-medical"></i></mat-icon>
    </mat-form-field>

    <button class="example-full-width" type="submit" mat-raised-button color="accent">Update Product</button>
</form>
