<section fxLayout="row wrap" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title align="center">
      <img class="edit" src="../../../assets/image/edit.png">
      {{pro_name1 | titlecase}}
    </mat-card-title>
    <mat-card-content>
      <form class="example-form" (ngSubmit)="OnProductEdit(f)" #f="ngForm" spellcheck="false">

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Product Name</mat-label>
          <input autofocus required name="pro_name" [(ngModel)]=pro_name1 #pro_name="ngModel" matInput type="text">
          <mat-error class="hint" *ngIf="pro_name.hasError('required') && !pro_name.pristine">Product Name is Required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select required [(ngModel)]=pro_category1 name="fk_cat_id" #fk_cat_id="ngModel">
            <mat-option *ngFor="let item of catnamearr" [value]="item.c_id">
              {{item.c_name}}
            </mat-option>
            </mat-select>
            <mat-error>Must have to select atleast 1 Product</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Manufacturer</mat-label>
          <input required pattern="[a-z -. A-Z]*" name="pro_mfg" [(ngModel)]=pro_mfg1 #pro_mfg="ngModel" type="text" matInput>
          <mat-error class="hint" *ngIf="pro_mfg.hasError('required') && !pro_mfg.pristine">Name Of the Manufacturer company is Required</mat-error>
          <mat-error class="hint" *ngIf="pro_mfg.hasError('pattern') && !pro_mfg.pristine">Only Letters</mat-error>
          <mat-icon matSuffix><i class="far fa-industry-alt"></i></mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Product Price</mat-label>
          <input pKeyFilter="int" required pattern="^[1-9][0-9]*" minlength="1" maxlength="5" name="pro_price" [(ngModel)]=pro_price1 #pro_price="ngModel" type="text" matInput>
          <mat-error class="hint" *ngIf="pro_price.hasError('required') && !pro_price.pristine">Product Price is Required</mat-error>
          <mat-error class="hint" *ngIf="pro_price.hasError('minlength') && !pro_price.pristine">Price must be greater than RS.1!</mat-error>
          <mat-error class="hint" *ngIf="pro_price.hasError('maxlength') && !pro_price.pristine">Price must be less than RS.15000!</mat-error>
          <mat-error class="label" *ngIf="pro_price.hasError('pattern') && !pro_price.pristine">Invalid Price</mat-error>
          <mat-icon matSuffix><i class="far fa-rupee-sign"></i></mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <input required name="pro_desc" [(ngModel)]=pro_desc1 #pro_desc="ngModel" type="text-area" matInput>
          <mat-error class="hint" *ngIf="pro_desc.hasError('required') && !pro_desc.pristine">Description is Required</mat-error>
          <mat-icon matSuffix><i class="far fa-file-medical"></i></mat-icon>
        </mat-form-field>

        <button [disabled]="!f.valid" class="example-full-width" type="submit" mat-raised-button color="accent">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>