<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Change Password</mat-card-title>
        <mat-card-content>
  
            <form class="example-form" [formGroup]="password_update" (ngSubmit)="OnPasswordEdit()">
            
            <mat-form-field class="example-full-width" appearance="outline">
                <input formControlName="password" matInput type="text" placeholder="Old Password">
                <mat-icon matSuffix>lock_open</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <input formControlName="new_password" matInput type="text" placeholder="New Password">
                <mat-icon matSuffix class="material-icons-outlined">lock</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <input formControlName="confirm_password" matInput type="text" placeholder="Confirm Password">
                <mat-icon matSuffix class="material-icons-outlined">lock</mat-icon>
            </mat-form-field>
         
            <button class="example-full-width" type="submit" mat-raised-button color="accent">Confirm</button>

            </form>

        </mat-card-content>
    </mat-card>
</section>
  
  