<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">

      <mat-card-title>Edit Product Photo</mat-card-title>
      <mat-card-content>
          <form [formGroup]="photo_update" (ngSubmit)="onPhotoSubmit()">

  <div >

    <img mat-card-image width="50" height="50" src="{{photoUrl}}">
    <input type="file" (change)="onChange($event)">

  </div >
  <br>
  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-select formControlName="fk_pro_id">
        <mat-option *ngFor="let item of list"  [value]="item.pro_id">
          {{item.pro_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <button class="example-full-width" type="submit" mat-raised-button color="accent">Update Product Photo</button>
 </form>
</mat-card-content>
</mat-card>
</section>
