<section fxLayout="row wrap" fxLayoutAlign="center center" class="mt-5">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title align="center">Edit Product Photo</mat-card-title>
    <mat-card-content>
      <form [formGroup]="photo_update" (ngSubmit)="onPhotoSubmit()" spellcheck="false">
        <img align=left width="100" height="100" src="{{photoUrl}}">
        <div>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-select autofocus formControlName="fk_pro_id">
              <mat-option *ngFor="let item of list" [value]="item.pro_id">
                {{item.pro_name | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error>This Field Can't be Empty</mat-error>
          </mat-form-field>

          <div >
            <div class="form-group">
              <div class="rounded p-6">
                <div class="media">
                  <div class="media-body">
                    <label class="btn btn-sm btn-outline-secondary ml-2">
                      {{img_name}}
                      <input required type="file" class="d-none" (change)="onChange($event)">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div >

        </div>
        <button class="example-full-width" type="submit" mat-raised-button color="accent">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>