<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Page Not Found :(</title>
    </head>
    <body>
        <div class="container">
            <section fxLayout="column wrap" fxLayoutGap="60px" fxLayoutAlign="center center">
                <h1>404</h1>
                <div fxFlex>
                   We are searching for your page...
                </div>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <div>
                  ... But we can not find it.
                </div>
              </section>
              <div>
                <p>It looks like this was the result of either:</p>
                <ul>
                    <li>A mistyped address.</li>
                    <li>An out-of-date link.</li>
                </ul>
              <button routerLink='/nav/' mat-raised-button color="accent" class="example-full-width">Back to Home</button>
              </div>
        </div>
    </body>
</html>