* {
  padding: 0;
  margin: 0;
}

#oopss {
  background: #333;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
  left: 0px;
}

#error-text {
  top: 30%;
  position: relative;
  font-size: 20px;
  color: #eee;
}

#error-text a {
  color: #eee;
}

#error-text a:hover {
  color: #f35d5c;
}

#error-text h2 {
  color: #eee;
  margin: 50px 0 0 0;
}

#error-text i {
  margin-left: 10px;
}

#error-text h2.hmpg {
  margin: 20px 0 0 0;
}

#error-text span {
  position: relative;
  background: #ef4824;
  color: #fff;
  font-size: 450%;
  padding: 0 20px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  transition: all 0.5s;
  cursor: pointer;
}

#error-text span:hover {
  background: #d7401f;
  color: #fff;
  -webkit-animation: jelly 0.5s;
  -moz-animation: jelly 0.5s;
  -ms-animation: jelly 0.5s;
  -o-animation: jelly 0.5s;
  animation: jelly 0.5s;
}

#error-text span:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ef4824;
  border-width: 7px;
  margin-left: -7px;
}

@-webkit-keyframes jelly {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@keyframes jelly {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@media only screen and (max-width: 640px) {
  #error-text span {
    font-size: 200%;
  }

  #error-text a:hover {
    color: #fff;
  }
}