img {
  height: 20px;
  width: 20px;
}

mat-sidenav-content {
  overflow: hidden;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a:hover,
a:focus,
a:active {
  color: blue;
}

mat-icon {
  margin-right: 10px;
}

span {
  width: 100%;
}

.welcome {
  font-weight: bold;
  font-size: medium;
}