<mat-sidenav-container class="sidenav-container" [class.alternative]="isTrue">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="welcome">
        <mat-toolbar>
          <img class="mx-auto d-block" align="center" src="http://localhost:3000/images/user_photos/{{u_image}}">
        </mat-toolbar>
        <div style="font-size: medium;">
          {{u_name | titlecase}}
        </div>
      </div>

    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/nav"><mat-icon class="material-icons-outlined" color="primary">insert_chart</mat-icon><span>Dashboard</span></a>
      <a mat-list-item routerLink="/nav/users"><mat-icon class="material-icons-outlined" color="primary">account_box</mat-icon><span>Users</span></a>
      <a mat-list-item routerLink="/nav/deliveryboy"><mat-icon class="material-icons-outlined" color="primary">local_shipping</mat-icon><span>DeliveryPartner</span></a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/nav/deliverdetails"><mat-icon class="material-icons-outlined" color="primary">assignment_turned_in</mat-icon><span>Assign Order</span></a>
      <a mat-list-item routerLink="/nav/trackingdisplay"><mat-icon class="material-icons-outlined" color="primary">room</mat-icon><span>Tracking</span></a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/nav/order"><mat-icon class="material-icons-outlined" color="primary">shopping_basket</mat-icon><span>Orders</span></a>
      <!-- <a mat-list-item routerLink="/nav/order_detail"><mat-icon class="material-icons-outlined" color="primary">local_offer</mat-icon><span>Order Detail</span></a> -->
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/nav/product"><mat-icon class="material-icons-outlined" color="primary">local_hospital</mat-icon><span>Products</span></a>
      <a mat-list-item routerLink="/nav/product_photo"><mat-icon class="material-icons-outlined" color="primary">add_photo_alternate</mat-icon><span>Product Photo</span></a>
      <mat-divider></mat-divider>
      <!-- <a mat-list-item routerLink="/nav/cart"><mat-icon class="material-icons-outlined" color="primary">local_mall</mat-icon><span>Cart</span></a>
      <a mat-list-item routerLink="/nav/cart_details"><mat-icon class="material-icons-outlined" color="primary">local_mall</mat-icon><span>Cart Details</span></a> -->
      <a mat-list-item routerLink="/nav/category"><mat-icon class="material-icons-outlined" color="primary">apps</mat-icon><span>Category</span></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon mat-mini-fab aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>FutureMediSurgico</span>

      <button (click)="changeTheme()" type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'brightness_medium' : 'brightness_high'}}</mat-icon>
      </button>

      <button class="menu" mat-icon-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button (click)='OnUserEdit()' mat-menu-item>
          <mat-icon class="material-icons-outlined" color="primary">account_circle</mat-icon>
          <span>My Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)='openDialog()' >
          <mat-icon color="warn">exit_to_app</mat-icon>
          <span>Logout</span>
        </button>     
      </mat-menu>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
