<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar>
      <span>Future MediSurgico</span>
    </mat-toolbar>
    <mat-nav-list color="primary">

      <a mat-list-item routerLink="/nav"><mat-icon>dashboard</mat-icon><span>Dashboard</span></a>
      <a mat-list-item routerLink="/nav/users"><mat-icon>people_alt</mat-icon><span>Users</span></a>
      <a mat-list-item routerLink="/nav/product"><mat-icon>view_list</mat-icon><span>Products</span></a>
      <a mat-list-item routerLink="/nav/cart"><mat-icon>shopping_cart</mat-icon><span>Cart</span></a>
      <a mat-list-item routerLink="/nav/cart_details"><mat-icon>shopping_cart</mat-icon><span>Cart Details</span></a>
      <a mat-list-item routerLink="/nav/category"><mat-icon>share</mat-icon><span>Category</span></a>
      <a mat-list-item routerLink="/nav/order"><mat-icon>storefront</mat-icon><span>Orders</span></a>
      <a mat-list-item routerLink="/nav/deliveryboy"><mat-icon>airport_shuttle</mat-icon><span>DeliveryBoy</span></a>
      <a mat-list-item routerLink="/nav/h-article"><mat-icon>favorite</mat-icon><span>Health Articles</span></a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon mat-mini-fab aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
   
      <span>Welcome,{{u_email_id}}</span>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-xs overflow-visible">
        <i class="far fa-user-circle"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <a mat-list-item (click)="onLogOut()" style="color: red;">
            <i-feather name="power"></i-feather>
            <span>Logout</span>
          </a>
        </button>
      </mat-menu>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
