.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a:hover,
a:focus {
  color: rgb(103, 58, 183);
}

i-feather {
  margin-right: 10px;
}

span {
  width: 100%;
}

.welcome {
  font-weight: bold;
  font-size: medium;
}

.fa-user-circle {
  color: rgb(255, 255, 255);
  font-size: 26px;
  margin-left: auto;
}
