<section fxLayout="row wrap" fxLayoutAlign="center center" class="mt-5">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title align="center">Edit Category</mat-card-title>
        <mat-card-content>

            <form autocomplete="off" class="example-form" (ngSubmit)="OnCategoryEdit(f)" #f="ngForm">

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input appAutoFocus required name="c_name" [(ngModel)]=c_name1 #c_name="ngModel" matInput type="text" placeholder="Edit Category Name">
                  <mat-error class="hint" *ngIf="c_name.hasError('required') && !c_name.pristine">Name is Required</mat-error>
                </mat-form-field>

                <button [disabled]="!f.valid" class="example-full-width" type="submit" mat-raised-button color="accent">Update</button>

            </form>

        </mat-card-content>
      </mat-card>
  </section>
