<div class="grid-container">
  <h1 class="mat-h1">Delivery Partners</h1>
</div>

<mat-progress-bar *ngIf="deliveryboyarr.length<0" color="warn" mode="indeterminate"></mat-progress-bar>

<mat-form-field class="filterClass" appearance="fill">
  <input matInput (keyup)="applyFilter($event.target.value)">
  <mat-label>Search</mat-label>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<button (click)="openAddDialogue()" mat-raised-button color="primary" matTooltip="Hire New Partner" class="addbutton">
  <mat-icon class="material-icons-outlined">add</mat-icon>&nbsp;New
</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <ng-container matColumnDef="deliveryboy_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.deliveryboy_name | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryboy_mobileno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
      <td mat-cell *matCellDef="let row"> +91 {{row.deliveryboy_mobileno}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let row">
        <button class="menu" mat-icon-button [matMenuTriggerFor]="matMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
  
        <mat-menu #matMenu="matMenu" xPosition="before">
          <button (click)="openViewMoreDialog(row)" mat-menu-item>
            <mat-icon color="primary">launch</mat-icon><span>Details</span>
          </button>
          <button (click)="OnDeliveryboyMail(row)" mat-menu-item>
            <mat-icon color="warn">mail</mat-icon><span>Mail</span>
          </button>
          <button (click)="openDeleteConfirm(row)" mat-menu-item>
            <mat-icon color="warn">delete_outlined</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>