<div aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Delivery Boy</li>
  </ol>
</div>
<mat-progress-bar *ngIf="deliveryboyarr.length<0" color="warn" mode="indeterminate"></mat-progress-bar>

<mat-form-field class="filterClass" appearance="fill">
  <input matInput (keyup)="applyFilter($event.target.value)">
  <mat-label>Search</mat-label>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<button routerLink='/nav/adddeliveryboy' mat-raised-button color="primary" matTooltip="Add Valet" class="addbutton">
  <mat-icon>add</mat-icon>Add
</button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="deliveryboy_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let row"> {{row.deliveryboy_id}} </td>
      </ng-container>

      <ng-container matColumnDef="deliveryboy_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.deliveryboy_name | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="deliveryboy_address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let row"> {{row.deliveryboy_address}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button  matTooltip="View more" mat-icon-button style="color: blue">
            <mat-icon>view_headline_outlined</mat-icon>
          </button>
          <button (click)="onDelete(row)"  matTooltip="Delete" mat-icon-button color="warn">
            <mat-icon>delete_outlined</mat-icon>
          </button>
          <button (click)="OnDeliveryboyEdit(row)"  matTooltip="Edit" mat-icon-button>
            <mat-icon>edit_outlined</mat-icon>
          </button>
          <button (click)="OnDeliveryboyMail(row)"  matTooltip="Mail" mat-icon-button style="color: rgb(217, 48, 37);">
            <mat-icon>mail</mat-icon>
          </button>
        </td>
      </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
<!-- <button routerLink='/nav/adddeliveryboy' mat-raised-button  color="accent" matTooltip="Add Deliveyboy" class="addbutton">Add</button> -->
