.example-form {
  width:100%;
}
.example-full-width {
  width: 95%;
  margin-top: 10px;
   margin-left:10px;
}
section {
  margin-top: 20px;
}
.half-width {
  margin-left: 10px;
  width: 47%;
}
.half-width-2 {
  margin-left: 10px;
  width: 47%;
}
mat-icon {
  font-size: 26px !important;
}