::ng-deep .online {
  background-color: #52c41a;
  color: black;
}

::ng-deep .notification-red {
  border-left: 5px solid #f5222d;
  background-color: white;
  color: black;
}

::ng-deep .notification-green {
  border-left: 5px solid #52c41a;
  background-color: white;
  color: black;
}

::ng-deep .notification-blue {
  border-left: 5px solid #1890ff;
  background-color: white;
  color: black;
}