.example-form {
  width:100%;
}
.example-full-width {
  width: 95%;
  margin-top: 10px;
   margin-left:10px;
}
section {
  margin-top: 20px;
}
mat-icon {
  font-size: 26px !important;
}

::ng-deep .update{
color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 10px;
background-color:yellow;
}
