<section fxLayout="row wrap" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title align="center">
        <img class="edit" src="../../../assets/image/edit.png" onerror="this.src='../../../assets/image/default-avatar.png';">
        Delivery Partner
      </mat-card-title>
      
    <mat-card-content>
      <form class="example-form" [formGroup]="deliveryPartner_update" (ngSubmit)="OnDeliveryPartnerEdit()" spellcheck="false">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input autofocus formControlName="deliveryboy_name" matInput type="text" placeholder="Enter Deliveryboy Name">
            <mat-icon class="material-icons-outlined" matSuffix>perm_identity</mat-icon>
            <mat-hint class="hint" *ngIf="deliveryPartner_update.get('deliveryboy_name').hasError('required') && !deliveryPartner_update.pristine">Name is Required</mat-hint>
            <mat-hint class="hint" *ngIf="deliveryPartner_update.get('deliveryboy_name').hasError('pattern') && !deliveryPartner_update.pristine">Only Letters</mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="deliveryboy_address" matInput type="text" placeholder="Enter Deliveryboy Address">
            <mat-icon class="material-icons-outlined" matSuffix>home_work</mat-icon>
            <mat-hint class="hint" *ngIf="deliveryPartner_update.get('deliveryboy_address').hasError('required') && !deliveryPartner_update.pristine">Address is Required</mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input numberOnly #input formControlName="deliveryboy_mobileno" type="number" matInput appPhone placeholder="Enter Mobile Number">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint class="hint" *ngIf="deliveryPartner_update.get('deliveryboy_mobileno').hasError('required') && !deliveryPartner_update.pristine">Mobile Number is Required</mat-hint>
            <mat-hint class="hint" *ngIf="deliveryPartner_update.get('deliveryboy_mobileno').hasError('minlength') && !deliveryPartner_update.pristine">Mobile number must be of 10 digits!</mat-hint>
            <mat-label class="label" *ngIf="deliveryPartner_update.get('deliveryboy_mobileno').hasError('pattern') && !deliveryPartner_update.pristine">only Digits!</mat-label>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input readonly formControlName="deliveryboy_email" matInput type="email" placeholder="Enter Email">
            <mat-icon class="material-icons-outlined" matSuffix>mail</mat-icon>
            <mat-hint class="hint" *ngIf="deliveryPartner_update.get('deliveryboy_email').hasError('required') && !deliveryPartner_update.pristine">Mail is Required</mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input readonly formControlName="password" matInput type="password" placeholder="Enter Password">
            <mat-icon class="material-icons-outlined" matSuffix>vpn_key</mat-icon>
            <mat-hint class="hint" *ngIf="deliveryPartner_update.get('password').hasError('required') && !deliveryPartner_update.pristine">Password is Required</mat-hint>
          </mat-form-field>

          <div class="form-group">
            <div class="rounded p-6">
              <div class="media">
                <div class="media-body">
                  <label class="btn btn-sm btn-outline-secondary ml-2">
                    {{img_text}}
                    <input type="file" class="d-none" (change)="onChange($event)">
                  </label>
                  <img height="70" width="70" align="right" style="border-radius: 50%;margin-right: 15px;" src="{{image_url}}" onerror="this.src='../../../assets/image/default-avatar.png';">
                </div>
              </div>
            </div>
          </div>

        <button class="example-full-width" type="submit" mat-raised-button color="accent">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
