<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-header>
      <img
        mat-card-avatar
        class="example-header-image"
        onerror="this.src='../../../assets/image/default-avatar.png';"
        src="http://localhost:3000/images/deliveryboy_photos/{{img}}"
      />
      <mat-card-title>Send Mail to {{deliveryboy_name | titlecase}}</mat-card-title>
      <mat-card-subtitle><span class="customer-badge">Delivery Partner</span></mat-card-subtitle>
      <img class="gmail" src="../../../assets/image/gmail.png">
    </mat-card-header>
    <form [formGroup]="mailVendorForm" (ngSubmit)="onMailVendor(f)" #f="ngForm">
    
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input readonly formControlName="email_id" matInput type="text">
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field><br>
    
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Title/Subject</mat-label>
        <input appAutoFocus formControlName="subject" matInput type="text" placeholder="Enter the subject">
      </mat-form-field><br>
    
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea rows="6" formControlName="message" matInput placeholder="Enter message"></textarea>
      </mat-form-field><br>
    
      <button type="button" (click)="onClose()" mat-raised-button>Close</button>

      <button [disabled]="!f.valid" type="submit" mat-raised-button color="primary" style="margin-left: 10px;">Send
        <mat-icon style="font-size: 24px;">send</mat-icon>
      </button>
    
    </form>
  </mat-card>
</section>