<html>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
					<!-- [formGroup]="loginForm" (ngSubmit)="onLogin() -->
			<span class="login100-form-title p-b-48">
              <i class="fal fa-user-circle"></i>
          	</span>
          <span class="login100-form-title p-b-26">
              Future MediSurgico
          </span>

			<mat-form-field class="wrap-input100">
			  <input matInput formControlName="u_email_id" placeholder="Enter Email*">
			  <mat-icon matSuffix><i class="fal fa-envelope"></i></mat-icon>
              <mat-label *ngIf="signupForm.get('u_email_id').hasError('required') && !signupForm.get('u_email_id').pristine">Email should not be empty!</mat-label>
              <mat-label *ngIf="signupForm.get('u_email_id').hasError('email') && !signupForm.get('u_email_id').pristine">Invalid Email!</mat-label>
              <mat-hint>We don't share your Email to anyone.</mat-hint>
			  </mat-form-field>

			<mat-form-field class="wrap-input100">
				<input type="number" matInput formControlName="u_mobileno" appPhone placeholder="Phone Number*">
				<mat-icon matSuffix><i class="fal fa-phone"></i></mat-icon>
				<mat-label *ngIf="signupForm.get('u_mobileno').hasError('required') && !signupForm.get('u_mobileno').pristine">Mobile number should not be empty!</mat-label>
			</mat-form-field>

			<mat-form-field  class="wrap-input100">
			  <input matInput formControlName="u_password" placeholder="Password*" [type]="hide ? 'password' : 'text'">

              <mat-label *ngIf="signupForm.get('u_password').hasError('required') && !signupForm.get('u_password').pristine">Password should not be empty!</mat-label>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
			</mat-form-field>

			<!-- <mat-form-field  class="wrap-input100">
				<input matInput placeholder="Confirm Password*" [type]="hide ? 'password' : 'text'">

				<mat-label *ngIf="loginForm.get('u_password').hasError('required') && !loginForm.get('u_password').pristine">Password should not be empty!</mat-label>
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			  </mat-form-field> -->

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
								<button type="submit" class="login100-form-btn">Signup</button>
						</div>
					</div>
					<div class="text-center p-t-115">
						<a class="txt2">
							Forgot Password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
