<html>
<body>
  <div class="form-group">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
					<!-- [formGroup]="loginForm" (ngSubmit)="onLogin() -->
			<span class="login100-form-title p-b-48">
              <i class="fab fa-foursquare"></i>
          	</span>
          <span class="login100-form-title p-b-26">
              Future MediSurgico
          </span>

		  <mat-form-field class="wrap-input100">
			<input matInput formControlName="u_name" placeholder="Enter Username*">
      <mat-icon matPrefix><i class="far fa-user" style="font-size: 20px;"></i></mat-icon>
      <mat-hint class="hint" *ngIf="signupForm.get('u_name').hasError('required') && !signupForm.get('u_name').pristine">user name is required</mat-hint>
      <mat-hint class="hint" *ngIf="signupForm.get('u_name').hasError('pattern') && !signupForm.get('u_name').pristine">Only chars</mat-hint>
		  </mat-form-field>

			<mat-form-field class="wrap-input100">
			  <input matInput formControlName="u_email_id" placeholder="Enter Email*">
			  <mat-icon matPrefix><i class="far fa-envelope" style="font-size: 20px;"></i></mat-icon>
              <mat-hint class="hint" *ngIf="signupForm.get('u_email_id').hasError('required') && !signupForm.get('u_email_id').pristine">email is required</mat-hint>
              <mat-hint class="hint" *ngIf="signupForm.get('u_email_id').hasError('email') && !signupForm.get('u_email_id').pristine">invalid email</mat-hint>
			</mat-form-field>

			<mat-form-field class="wrap-input100">
				<span matPrefix>+91 &nbsp;</span>
        <input type="text" matInput formControlName="u_mobileno" appPhone placeholder="Phone Number*">
				<mat-icon matSuffix><i class="far fa-phone" style="font-size: 20px;"></i></mat-icon>
        <mat-hint class="hint" *ngIf="signupForm.get('u_mobileno').hasError('required') && !signupForm.get('u_mobileno').pristine">Mobile number should not be empty!</mat-hint>
        <mat-hint class="hint" *ngIf="signupForm.get('u_mobileno').hasError('minlength')">Mobile number must be of 10 digits!</mat-hint>
        <mat-label class="label" *ngIf="signupForm.get('u_mobileno').hasError('pattern')">only digits!</mat-label>
			</mat-form-field>

      	<div formGroupName="password_group">
			<mat-form-field  class="password">
			  	<input matInput formControlName="u_password" placeholder="Password*" [type]="hide ? 'password' : 'text'">
				  <mat-icon matPrefix><i class="far fa-lock" style="font-size: 20px;"></i></mat-icon>
				  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
			</mat-form-field>
			<mat-form-field class="c-password">
        		<input formControlName="u_confirm_password" matInput placeholder="Confirm Password*" [type]="hide ? 'password' : 'text'">
				<mat-icon matPrefix><i class="far fa-lock" style="font-size: 20px;"></i></mat-icon>
				<mat-label *ngIf="signupForm.get('password_group').hasError('not same') && !signupForm.get('not same')">Both Password and confirm password sho uld be same!</mat-label>
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
        	</mat-form-field>
		</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
								<button [disabled]="!signupForm.valid" type="submit" class="login100-form-btn">SignUp</button>
							</div>
						</div>
					<div class="text-center p-t-115">
						<a class="txt2" href="#">Forgot Password?</a>
					</div>
				</form>

			</div>
		</div>
  </div>
  </div>
</body>
</html>
