<html>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
			<span class="login100-form-title p-b-48">
              <i class="fab fa-foursquare"></i>
          	</span>
          <span class="login100-form-title p-b-26">
              Future MediSurgico
          </span>

		  <mat-form-field class="wrap-input100">
			<input matInput formControlName="u_name" placeholder="Enter Username*">
			<mat-icon matPrefix><i class="far fa-user" style="font-size: 20px;"></i></mat-icon>
		  </mat-form-field>

			<mat-form-field class="wrap-input100">
			  <input matInput formControlName="u_email_id" placeholder="Enter Email*">
			  <mat-icon matPrefix><i class="far fa-envelope" style="font-size: 20px;"></i></mat-icon>
              <mat-label *ngIf="signupForm.get('u_email_id').hasError('required') && !signupForm.get('u_email_id').pristine">Email should not be empty!</mat-label>
              <mat-label *ngIf="signupForm.get('u_email_id').hasError('email') && !signupForm.get('u_email_id').pristine">Invalid Email!</mat-label>
              <mat-hint>We don't share your Email to anyone.</mat-hint>
			</mat-form-field>

			<mat-form-field class="wrap-input100">
				<span matPrefix>+91 &nbsp;</span>
				<input type="number" matInput formControlName="u_mobileno" appPhone placeholder="Phone Number*">
				<mat-icon matSuffix><i class="far fa-phone" style="font-size: 20px;"></i></mat-icon>
				<mat-label *ngIf="signupForm.get('u_mobileno').hasError('required') && !signupForm.get('u_mobileno').pristine">Mobile number should not be empty!</mat-label>
			</mat-form-field>

			<mat-form-field  class="wrap-input100">
			  <input matInput formControlName="u_password" placeholder="Password*" [type]="hide ? 'password' : 'text'">
			  <mat-icon matPrefix><i class="far fa-lock" style="font-size: 20px;"></i></mat-icon>
              <mat-label *ngIf="signupForm.get('u_password').hasError('required') && !signupForm.get('u_password').pristine">Password should not be empty!</mat-label>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
			</mat-form-field>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
								<button type="submit" class="login100-form-btn">SignUp</button>
						</div>
					</div>
					<div class="text-center p-t-115">
						<a class="txt2" href="#">Already Registered? Sign in</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
