<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Products</li>
  </ol>
</div>
<mat-progress-bar *ngIf="productarr.length<0" color="warn" mode="indeterminate"></mat-progress-bar>

<mat-form-field class="filterClass">
  <input matInput (keyup)="applyFilter($event.target.value)">
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field>

<button mat-raised-button matTooltip="Delete Selected"(click)="ondeleteallclick()" color="warn" class="deletebutton">
  <span>Delete</span>
</button>

<button routerLink='/nav/addProduct' mat-raised-button matTooltip="Add Product" color="accent" class="addbutton">
  <span>Add</span>
</button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        (change)="oncheckboxchange(row)"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="pro_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.pro_id}} </td>
      </ng-container>

      <ng-container matColumnDef="pro_name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.pro_name | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="c_name">
        <th mat-header-cell *matHeaderCellDef> Category Name </th>
        <td mat-cell *matCellDef="let row"> {{row.c_name | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="pro_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row"> {{row.pro_price | currency:"INR"}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button (click)="openDialog(row)" mat-icon-button style="color: blue">
            <mat-icon>view_headline_outlined</mat-icon>
          </button>
          <button (click)="OnProductEdit(row)" mat-icon-button>
            <mat-icon>edit_outlined</mat-icon>
          </button>
        </td>
      </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;">

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
