
<form class="example-form" (ngSubmit)="onCartEdit(f)" #f="ngForm">

  <mat-form-field class="example-full-width">
    <input ngModel name="cart_id" [(ngModel)]=cart_id1 #cart_id="ngModel" matInput type="number" placeholder="Enter Cart id">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="u_email_id" [(ngModel)]=u_email_id1 #u_email_id="ngModel" matInput type="email" placeholder="Enter Email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="pro_id" [(ngModel)]=pro_id1 #pro_id="ngModel" matInput type="number" placeholder="Enter Product id">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="cart_quantity" [(ngModel)]=cart_quantity1 #cart_quantity="ngModel" matInput type="number" placeholder="Enter Cart Quantity">
  </mat-form-field>

  <button class="example-full-width" type="submit" mat-raised-button color="accent">Edit Cart</button>
</form>
