
<form class="example-form" (ngSubmit)="onUesrAdd(f)" #f="ngForm">

    <mat-form-field class="example-full-width">
      <input ngModel name="u_email_id" #u_email_id="ngModel" matInput type="email" placeholder="Enter Email">
      <mat-icon matSuffix><i class="fal fa-envelope"></i></mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input ngModel name="u_name" #u_name="ngModel" matInput type="text" placeholder="Enter Name">
      <mat-icon matSuffix><i class="fal fa-user"></i></mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select ngModel name="u_gender" #u_gender="ngModel" placeholder="Choose Gender">
        <mat-option value="male">male</mat-option>
        <mat-option value="female">female</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <span matPrefix>+91 &nbsp;</span>
      <input ngModel name="u_mobileno" #u_mobileno="ngModel" type="number" matInput appPhone placeholder="Enter Mobile Number">
      <mat-icon matSuffix><i class="fal fa-phone"></i></mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input ngModel name="u_password" #u_password="ngModel" matInput type="password" placeholder="Enter password">
      <mat-icon matSuffix><i class="fal fa-lock"></i></mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input ngModel name="u_dob" #u_dob="ngModel" matInput type="date" placeholder="Enter Date Of Birth">
      <mat-icon matSuffix><i class="fal fa-calendar-alt"></i></mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input ngModel name="u_address" #u_address="ngModel" matInput type="text" placeholder="Enter Your Address">
      <mat-icon matSuffix><i class="fal fa-address-card"></i></mat-icon>
    </mat-form-field>

    <button class="example-full-width" type="submit" mat-raised-button color="accent">Add User</button>
</form>
