<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <!-- small widgets start -->
  <div fxLayout="row wrap" #resizedDiv>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
      <mat-card class="card border-left-success p-0">
        <div class="py-2 px-3" fxLayoutAlign="space-between center">
            <div class="text-xs font-weight-bold text-success mb-1">Revenue</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{revenue | currency:"INR"}}</div>
        </div>
        <div class="w-100 h-100p"></div>
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
      <mat-card class="card border-left-primary p-0">
        <div class="py-2 px-3" fxLayoutAlign="space-between center">
            <div class="text-xs font-weight-bold text-primary mb-1">Total orders</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_order}}</div>
        </div>
        <div class="w-100 h-100p"></div>
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
      <mat-card class="card border-left-warning p-0">
        <div class="py-2 px-3" fxLayoutAlign="space-between center">
            <div class="text-xs font-weight-bold text-warning mb-1">Customers</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{customers}}</div>
        </div>
        <div class="w-100 h-100p"></div>
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
      <mat-card class="card border-left-info p-0">
        <div class="py-2 px-3" fxLayoutAlign="space-between center">
            <div class="text-xs font-weight-bold text-info mb-1">Delivery Partners</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{delivery_partners}}</div>
        </div>
        <div class="w-100 h-100p"></div>
      </mat-card>
    </div>
  </div>
  <!-- small widgets end -->

  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Trending Products
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Units sold"></kendo-chart-title>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="bill_data_name_display">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
              <kendo-chart-series>
                <kendo-chart-series-item type="bar" [gap]="1" [spacing]=".50" [data]="bill_data_display"></kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Payment methods
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Payment Mode</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <img width="50" src="../../assets/image/paypal.jpg">
                  </th>
                  <td>Paypal</td>
                  <td>{{paypalAmount}}</td>
                </tr>
                <tr>
                  <th scope="row">
                    <img width="50" src="../../assets/image/cod.png">
                  </th>
                  <td>Cash On Delivery</td>
                  <td>{{Cash_On_Dlivery_Amount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Monthly Product Selling
            <select (change)="onYearChange()" [(ngModel)]="selectedYear">
              <option [ngValue]="item" *ngFor="let item of yearArray">{{item}}</option>
            </select>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Customer data"></kendo-chart-title>
              <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="['Apr','May','Jun']" [title]="{ text: 'Months' }">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-series-item type="line" [data]="orderData">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Current Status
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart title="Status">
              <kendo-chart-legend position="bottom"></kendo-chart-legend>
              <kendo-chart-series>
                <kendo-chart-series-item type="pie" [data]="pieData" field="value" categoryField="category"
                  [labels]="{ visible: true, content: labelContent1 }">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Monthly Sales Report
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Units sold"></kendo-chart-title>
              <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
              <kendo-chart-tooltip format="₹{0}"></kendo-chart-tooltip>
              <kendo-chart-category-axis>
                  <kendo-chart-category-axis-item
                      [categories]="month">
                  </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-series-item type="area" [data]="order_amount" color="blue" opacity="0.5"></kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->

  </mat-grid-list>
</div>
