<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-grid-list cols="2" rowHeight="385px">

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Line Chart
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="text-align:center">
            <canvas id="lineChart"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Bar Chart
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="text-align:center">
            <canvas id="barChart"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Pie Chart
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="text-align:center">
            <canvas id="pieChart"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div> -->


<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <!-- small widgets start -->
  <div fxLayout="row wrap" #resizedDiv>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
      <mat-card class="p-0 gradient-purple">
        <div class="py-2 px-3" fxLayoutAlign="space-between center">
            <p>Revenue</p>
            <div fxLayoutAlign="center center">
                <!-- <mat-icon class="icon-sm mx-1">trending_up</mat-icon> -->
                <span>38%</span>
            </div>
        </div>
        <div class="w-100 h-100p"></div>
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
      <mat-card class="p-0 gradient-teal">
        <div class="py-2 px-3" fxLayoutAlign="space-between center">
          <p>Total orders</p>
          <div fxLayoutAlign="center center">
              <mat-icon class="icon-sm mx-1">trending_up</mat-icon>
              <span>16%</span>
          </div>
        </div>
        <div class="w-100 h-100p">
        </div>
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
      <mat-card class="p-0 gradient-indigo">
        <div class="py-2 px-3" fxLayoutAlign="space-between center">
          <p>Refunds</p>
          <div fxLayoutAlign="center center">
              <mat-icon class="icon-sm mx-1">trending_down</mat-icon>
              <span>-11%</span>
          </div>
        </div>
        <div class="w-100 h-100p">
        </div>
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
      <mat-card class="p-0 gradient-amber">
        <div class="py-2 px-3" fxLayoutAlign="space-between center">
          <p>Customers</p>
          <div fxLayoutAlign="center center">
              <mat-icon class="icon-sm mx-1">trending_up</mat-icon>
              <span>17%</span>
          </div>
        </div>
        <div class="w-100 h-100p">
        </div>
      </mat-card>
    </div>
  </div>
  <!-- small widgets end -->
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Payment Methods
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-legend position="bottom"></kendo-chart-legend>
              <kendo-chart-series>
                <kendo-chart-series-item type="pie" [data]="pieData" field="value" categoryField="category"></kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Trending Products
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Units sold"></kendo-chart-title>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="bill_data_name_display">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-series-item type="bar" [gap]="1" [spacing]=".50" [data]="bill_data_display"></kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Sales Report
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart [categoryAxis]="{ categories: categories }">
              <kendo-chart-title text="Sales"></kendo-chart-title>
              <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
              <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
              <kendo-chart-series>
                <kendo-chart-series-item *ngFor="let item of series" type="line" [data]="item.data" [name]="item.name" color="green" opacity="0.5"></kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Sales Report
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Units sold"></kendo-chart-title>
              <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
              <kendo-chart-tooltip format="₹{0}"></kendo-chart-tooltip>
              <kendo-chart-category-axis>
                  <kendo-chart-category-axis-item
                      [categories]="order_date">
                  </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-series-item type="area" [data]="order_amount" color="blue" opacity="0.5"></kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
