.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-chip.info-chip{
  padding: 4px 8px;
}

mat-icon{
  margin-right: 4px;
}

.h-100p{
  height: 50px;
}

.gradient-purple {
  background: #7873f5!important;
  background: linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  color: #fff!important;
}

.gradient-teal {
  background: #00796b!important;
  background: linear-gradient(50deg,#a9dc7b,#00796b)!important;
  color: #fff!important;
}

.gradient-indigo {
  background: #303f9f!important;
  background: linear-gradient(50deg,#2ec6ff,#303f9f)!important;
  color: #fff!important;
}

.gradient-amber {
    background: #e65100!important;
    background: linear-gradient(50deg,#ffba3a,#e65100)!important;
    color: #fff!important;
}