.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-chip.info-chip{
  padding: 4px 8px;
}

mat-icon{
  margin-right: 4px;
}

.h-100p{
  height: 50px;
}

.gradient-purple {
  background: #7873f5!important;
  background: linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  color: #fff!important;
}

.gradient-teal {
  background: #00796b!important;
  background: linear-gradient(50deg,#a9dc7b,#00796b)!important;
  color: #fff!important;
}

.gradient-indigo {
  background: #303f9f!important;
  background: linear-gradient(50deg,#2ec6ff,#303f9f)!important;
  color: #fff!important;
}

.gradient-amber {
    background: #e65100!important;
    background: linear-gradient(50deg,#ffba3a,#e65100)!important;
    color: #fff!important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-secondary {
  border-left: 0.25rem solid #858796 !important;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
  border-left: 0.25rem solid #e74a3b !important;
}

.border-left-light {
  border-left: 0.25rem solid #f8f9fc !important;
}

.border-left-dark {
  border-left: 0.25rem solid #5a5c69 !important;
}

.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}