<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <div class="row">
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-xl-3">
        <div class="card bg-danger m-b-30">
            <div class="card-body">
                <div class="d-flex row">
                    <div class="col-3 align-self-center">
                        <div class="round">
                          <i style="font-size: 48px;color: rgba(255, 255, 255, 1);" class="fad fa-users"></i>
                        </div>
                    </div>
                    <div class="col-8 ml-auto align-self-center text-center">
                        <div class="m-l-10 text-white float-right">
                            <h5 class="mt-0 round-inner">{{customers}}</h5>
                            <p class="mb-0 ">New Users</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-info m-b-30">
            <div class="card-body">
                <div class="d-flex row">
                    <div class="col-3 align-self-center">
                        <div class="round">
                          <i style="font-size: 48px;color: rgba(255, 255, 255, 1);" class="fad fa-truck"></i>
                        </div>
                    </div>
                    <div class="col-8 text-center ml-auto align-self-center">
                        <div class="m-l-10 text-white float-right">
                            <h5 class="mt-0 round-inner">{{delivery_partners}}</h5>
                            <p class="mb-0 ">Delivery Boys</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-success m-b-30">
            <div class="card-body">
                <div class="d-flex row">
                    <div class="col-3 align-self-center">
                        <div class="round ">
                          <i style="font-size: 48px;color: rgba(255, 255, 255, 1);" class="fad fa-shopping-basket"></i>
                        </div>
                    </div>
                    <div class="col-8 ml-auto align-self-center text-center">
                        <div class="m-l-10 text-white float-right">
                            <h5 class="mt-0 round-inner">{{total_order}}</h5>
                            <p class="mb-0 ">New Orders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-primary m-b-30">
            <div class="card-body">
                <div class="d-flex row">
                    <div class="col-3 align-self-center">
                        <div class="round">
                          <i style="font-size: 48px;color: rgba(255, 255, 255, 1);" class="fad fa-wallet"></i>
                        </div>
                    </div>
                    <div class="col-8 ml-auto align-self-center text-center">
                        <div class="m-l-10 text-white float-right">
                            <h5 class="mt-0 round-inner">₹ {{revenue}}</h5>
                            <p class="mb-0">Total Sales</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Trending Products
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Units sold"></kendo-chart-title>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="bill_data_name_display">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
              <kendo-chart-series>
                <kendo-chart-series-item type="bar" [gap]="1" [spacing]=".50" [data]="bill_data_display"></kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Payment methods
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Payment Mode</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <img width="50" src="../../assets/image/paypal.jpg">
                  </th>
                  <td>Paypal</td>
                  <td>{{paypalAmount}}</td>
                </tr>
                <tr>
                  <th scope="row">
                    <img width="50" src="../../assets/image/cod.png">
                  </th>
                  <td>Cash On Delivery</td>
                  <td>{{Cash_On_Dlivery_Amount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Monthly Product Selling
            <select (change)="onYearChange()" [(ngModel)]="selectedYear">
              <option [ngValue]="item" *ngFor="let item of yearArray">{{item}}</option>
            </select>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Customer data"></kendo-chart-title>
              <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-series-item type="line" [data]="orderData">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Current Status
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-legend position="bottom"></kendo-chart-legend>
              <kendo-chart-series>
                <kendo-chart-series-item type="pie" [data]="pieData" field="value" categoryField="category"
                  [labels]="{ visible: true, content: labelContent1 }">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
