<div class="container-login100">
  <div class="wrap-login100">
    <mat-icon>restore</mat-icon>&nbsp;<mat-card-title>Recover Password</mat-card-title>
    <p>Provide your valid E-mail ID to proceed further.</p>
    <mat-card-content>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetClick()">
        <mat-form-field appearance="fill" class="example-full-width">
          <input formControlName="name" required matInput placeholder="Email-ID*">
          <mat-icon matSuffix><i class="far fa-envelope" style="font-size: 20px;"></i></mat-icon>
          <mat-error *ngIf="forgetPasswordForm.get('name').hasError('required') && !forgetPasswordForm.get('name').pristine">Email should not be empty!</mat-error>
          <mat-error *ngIf="forgetPasswordForm.get('name').hasError('email') && !forgetPasswordForm.get('name').pristine">Invalid Email!</mat-error>
        </mat-form-field>
        <button [disabled]="!forgetPasswordForm.valid" type="submit" mat-raised-button color="accent" (click)="openSnackBar('Email has been sent, check Inbox.','x')">
          Send Link
        </button>
        &nbsp;
        <button type="button" routerLink='' mat-button color="primary">
          Back
        </button>       
      </form>
    </mat-card-content>
  </div>
</div>