svg, .svg {
  height: 40%;
  width: 40%;
  display: block;
  margin: auto;
}

.lock {
  margin-left: 40%;
  font-size: 50px;
  color: darkblue;
  text-align: center;
}

img {
  width: 80px;
  height: 80px;
}

.example-full-width {
  width: 100%;
  margin-top: 10px;
}

body {
  background-image: url(../../assets/image/bg.jpg);
  background-repeat: repeat;
  background-size: 250px 230px;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background-color: #2d323d; */
}

.wrap-login100 {
  border-top: 5px solid blue;
  width: 430px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 40px 40px 33px 40px;
  -webkit-box-shadow: 5px 8px 118px 35px rgba(119, 97, 153, 0.48);
  -moz-box-shadow: 5px 8px 118px 35px rgba(119, 97, 153, 0.48);
  box-shadow: 5px 8px 118px 35px rgba(119, 97, 153, 0.48);
}

.material-icons-outlined {
  margin-right: 10px;
}

.mat-horizontal-stepper-header { 
  pointer-events: none !important; 
}

.mat-step-icon-state-done {
  background-color: #42d697 !important;
  color: #fff !important;
}