<div class="container-login100">
  <div class="wrap-login100">
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill" class="example-full-width">
          <input matInput placeholder="Email-ID*" />
          <mat-icon matSuffix
            ><i class="far fa-envelope" style="font-size: 20px;"></i
          ></mat-icon>
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="accent"
          class="example-full-width"
          routerLink=''
          (click)="openSnackBar('Email Successfully Sent on your mail id', 'Dismiss')"
        >
          Send Link
        </button>
      </form>
    </mat-card-content>
  </div>
</div>
