<div class="container-login100">
  <div class="wrap-login100">
    <mat-icon>restore</mat-icon>&nbsp;<mat-card-title>Recover Password</mat-card-title>
    <p>Provide your valid E-mail ID to reset your password.</p>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill" class="example-full-width">
          <input required matInput placeholder="Email-ID*">
          <mat-icon matSuffix><i class="far fa-envelope" style="font-size: 20px;"></i></mat-icon>
        </mat-form-field>

        
        <button
          type="submit"
          mat-raised-button
          color="accent"
          routerLink=''
          (click)="openSnackBar('✓ Done! Email has been sent, check Inbox.')">
          Send Link
        </button>
        &nbsp;
        <button
          type="button"
          mat-button
          color="primary"
          routerLink=''>
          Back
        </button>
        
      </form>
    </mat-card-content>
  </div>
</div>
