::ng-deep .success{
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 10px;
background-color: rgb(54, 194, 36);
}

img {
width: 80px;
height: 80px;
}

.example-full-width {
width: 100%;
margin-top: 10px;
}

.container-login100 {
width: 100%;
min-height: 100vh;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 15px;
background-color: #2D323D;
}

.wrap-login100 {
width: 390px;
background: #fff;
border-radius: 5px;
overflow: hidden;
padding: 40px 40px 33px 40px;
box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
} 