@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-blue, 900);
$my-accent: mat-palette($mat-yellow, 600);
$my-warn: mat-palette($mat-red, A700);
$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);
@include angular-material-theme($my-theme);

.alternative {
  $my-primary: mat-palette($mat-blue, 600);
  $my-accent: mat-palette($mat-yellow, A400);
  $my-warn: mat-palette($mat-red, 500);
  $my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);
  @include angular-material-theme($my-theme);
}