.example-full-width {
  width: 100%;
}
section {
  overflow: hidden;
}
.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.status-user {
  background-color: #c8e6c9;
  color: #256029;
}
.status-admin {
  background-color: #ffcdd2;
  color: #c63737;
}
.example-header-image {
  background-size: cover;
}
.gmail {
  float: right;
  margin-left: auto;
  width: 50px;
  height: 50px;
}