<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">

    <mat-card-header>
      <img mat-card-avatar class="example-header-image" onerror="this.src='../../../assets/image/default-avatar.svg';" src="http://localhost:3000/images/user_photos/{{ u_image }}"/>
      <mat-card-title>Send Mail to {{ u_name | titlecase }}</mat-card-title>
      <mat-card-subtitle>
        <span [class]="'customer-badge status-' + u_type">{{u_type | titlecase}}</span>
      </mat-card-subtitle>
      <img class="gmail" src="../../../assets/image/gmail.png">
    </mat-card-header>

    <form [formGroup]="mailUserForm" (ngSubmit)="onMailUser(f)" #f="ngForm" spellcheck="false">
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input readonly formControlName="email_id" matInput type="text">
        <mat-icon class="material-icons-outlined" matSuffix>alternate_email</mat-icon>
      </mat-form-field><br>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Title/Subject</mat-label>
        <input autofocus formControlName="subject" matInput type="text" placeholder="Enter the subject">
        <mat-error *ngIf="mailUserForm.get('subject').hasError('required') && !mailUserForm.pristine">Title/Subject is Required</mat-error>
      </mat-form-field><br>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea formControlName="message" matInput placeholder="Enter message" rows="7"></textarea>
        <mat-error *ngIf="mailUserForm.get('message').hasError('required') && !mailUserForm.pristine">Message is Required</mat-error>
      </mat-form-field><br>
    
      <button type="button" (click)="onClose()" mat-raised-button><mat-icon>close</mat-icon>Close</button>

      <button [disabled]="!f.valid" type="submit" mat-raised-button style="float: right;">Send</button>
    
    </form>
    
  </mat-card>
</section>