/* cards */
.tile{
  text-align: right;
}
.mat-icon,i{
  position: absolute;
  left: 4px;
  top: 50%;
  line-height: 0;
  font-size: 54px;
  opacity: 0.3;
}
h2{
  font-weight: 500;
  font-size: 20px;
}
p{
  text-transform: uppercase;
  font-size: 15px;
}

/* charts */
.mat-chip.info-chip{
  padding: 4px 8px;
}
  .mat-icon{
      margin-right: 4px;
  }

.h-100p{
  height: 100px;
}