<div id="wrapper">
<div class="content-page">
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
<div class="row">
  <div class="col-xl-3 col-md-6 m-t-15">
      <div class="card mini-stat bg-primary">
          <div class="card-body mini-stat-img">
              <div class="mini-stat-icon">
                <i-feather name="box" class="float-right"></i-feather>
              </div>
              <div class="text-white">
                  <h6 class="text-uppercase mb-3">Orders</h6>
                  <h4 class="mb-4">1,587</h4>
                  <span class="badge badge-info"> +11% </span> <span class="ml-2">From previous period</span>
              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-md-6 m-t-15">
      <div class="card mini-stat bg-primary">
          <div class="card-body mini-stat-img">
              <div class="mini-stat-icon">
                <i-feather name="layers" class="float-right"></i-feather>
              </div>
              <div class="text-white">
                  <h6 class="text-uppercase mb-3">Revenue</h6>
                  <h4 class="mb-4">$46,782</h4>
                  <span class="badge badge-danger"> -29% </span> <span class="ml-2">From previous period</span>
              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-md-6 m-t-15">
      <div class="card mini-stat bg-primary">
          <div class="card-body mini-stat-img">
              <div class="mini-stat-icon">
                <i-feather name="tag" class="float-right"></i-feather>
              </div>
              <div class="text-white">
                  <h6 class="text-uppercase mb-3">Average Price</h6>
                  <h4 class="mb-4">$15.9</h4>
                  <span class="badge badge-warning"> 0% </span> <span class="ml-2">From previous period</span>
              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-md-6 m-t-15">
      <div class="card mini-stat bg-primary">
          <div class="card-body mini-stat-img">
              <div class="mini-stat-icon">
                <i-feather name="briefcase" class="float-right"></i-feather>
              </div>
              <div class="text-white">
                  <h6 class="text-uppercase mb-3">Product Sold</h6>
                  <h4 class="mb-4">1890</h4>
                  <span class="badge badge-info"> +89% </span> <span class="ml-2">From previous period</span>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>