/* cards */
.tile{
  text-align: right;
}
.mat-icon,i{
  position: absolute;
  left: 4px;
  top: 50%;
  line-height: 0;
  font-size: 54px;
  opacity: 0.3;
}
h2{
  font-weight: 500;
  font-size: 20px;
}
p{
  text-transform: uppercase;
  font-size: 15px;
}

/* charts */
.mat-chip.info-chip{
  padding: 4px 8px;
}
  .mat-icon{
      margin-right: 4px;
  }

.h-100p{
  height: 100px;
}

/* gradient */

.gradient-green,
.gradient-orange,
.gradient-red,
.gradient-pink, 
.gradient-brown, 
.gradient-purple, 
.gradient-indigo,
.gradient-teal,
.gradient-amber, 
.gradient-gray {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}