body {
    background-repeat: repeat;
    background: #f5f5f5;
    font-family: "Poppins", sans-serif;
    color: #5b626b;
    font-size: 13px;
  }

  html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
  }

  p {
    line-height: 1.7;
  }

  svg {
    max-width: 100%;
  }

  a {
    color: #707070;
  }

  a:hover {
    outline: 0;
    text-decoration: none;
  }

  a:active {
    outline: 0;
    text-decoration: none;
  }

  a:focus {
    outline: 0;
    text-decoration: none;
  }

  .container-alt {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer {
    bottom: 0;
    text-align: center;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    left: 240px;
    background-color: #fafafa;
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
  }

  #wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .slimScrollDiv {
    height: auto !important;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #7a6fbe;
  }

  /* Social */
  .social-links li a {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
  }

  /* ======
  02. Bootstrap-custom
     ====== */
  /* ==============
    Bootstrap-custom
  ===================*/
  .dropdown-menu {
    padding: 4px 0;
    font-size: 13px;
    -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-color: transparent;
    margin: 0;
  }

  .dropdown-item {
    background-color: #ffffff;
    padding: .55rem 1.5rem;
  }

  .dropdown-item:active, .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #2a3142;
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: #f8f9fa;
    color: #2a3142;
  }

  .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #707070;
    content: "\f105" !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }

  .bg-primary {
    background-color: #7a6fbe !important;
  }

  .bg-success {
    background-color: #58db83 !important;
  }

  .bg-info {
    background-color: #29bbe3 !important;
  }

  .bg-warning {
    background-color: #f5b225 !important;
  }

  .bg-danger {
    background-color: #ec536c !important;
  }

  .bg-muted {
    background-color: #707070 !important;
  }

  .bg-white {
    background-color: #ffffff !important;
  }

  .text-white {
    color: #ffffff !important;
  }

  .text-danger {
    color: #ec536c !important;
  }

  .text-muted {
    color: #707070 !important;
  }

  .text-primary {
    color: #7a6fbe !important;
  }

  .text-warning {
    color: #f5b225 !important;
  }

  .text-success {
    color: #58db83 !important;
  }

  .text-info {
    color: #29bbe3 !important;
  }

  .text-dark {
    color: #2a3142 !important;
  }

  .badge {
    font-weight: 500;
  }

  .badge-primary {
    background-color: #7a6fbe;
  }

  .badge-success {
    background-color: #58db83;
  }

  .badge-info {
    background-color: #29bbe3;
  }

  .badge-warning {
    background-color: #f5b225;
    color: #ffffff;
  }

  .badge-danger {
    background-color: #ec536c;
  }

  .badge-dark {
    background-color: #2a3142;
  }

  dt {
    font-weight: 500;
  }

  /* ======
  03. Helper
     ====== */
  /* ==============
    Helper Classes
  ===================*/
  .p-0 {
    padding: 0;
  }

  .p-t-10 {
    padding-top: 10px;
  }

  .p-b-10 {
    padding-bottom: 10px;
  }

  .m-0 {
    margin: 0;
  }

  .m-r-5 {
    margin-right: 5px;
  }

  .m-r-10 {
    margin-right: 10px;
  }

  .m-r-15 {
    margin-right: 15px;
  }

  .m-l-10 {
    margin-left: 10px;
  }

  .m-l-15 {
    margin-left: 15px;
  }

  .m-t-5 {
    margin-top: 5px;
  }

  .m-t-10 {
    margin-top: 10px;
  }

  .m-t-15 {
    margin-top: 15px;
  }

  .m-t-20 {
    margin-top: 20px;
  }

  .m-t-30 {
    margin-top: 30px;
  }

  .m-t-40 {
    margin-top: 40px;
  }

  .m-b-5 {
    margin-bottom: 5px;
  }

  .m-b-10 {
    margin-bottom: 10px;
  }

  .m-b-15 {
    margin-bottom: 15px;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  .m-b-30 {
    margin-bottom: 30px;
  }

  .w-30 {
    max-width: 30px;
  }

  .w-xs {
    min-width: 80px;
  }

  .w-sm {
    min-width: 95px;
  }

  .w-md {
    min-width: 110px;
  }

  .w-lg {
    min-width: 140px;
  }

  .l-h-23 {
    line-height: 23px;
  }

  .l-h-34 {
    line-height: 34px;
  }

  .font-12 {
    font-size: 12px;
  }

  .font-14 {
    font-size: 14px;
  }

  .font-16 {
    font-size: 16px;
  }

  .font-18 {
    font-size: 18px;
  }

  .font-20 {
    font-size: 20px;
  }

  .font-24 {
    font-size: 24px;
  }

  .font-30 {
    font-size: 30px;
  }

  .thumb-sm {
    height: 32px;
    width: 32px;
  }

  .thumb-md {
    height: 48px;
    width: 48px;
  }

  .thumb-lg {
    height: 88px;
    width: 88px;
  }

  .font-500 {
    font-weight: 500;
  }

  .font-600 {
    font-weight: 600;
  }

  .header-title {
    font-size: 16px;
  }

.widget-chart li {
    width: 31.5%;
    display: inline-block;
    padding: 0;
  }

  .widget-chart li i {
    font-size: 22px;
  }

  .mini-stat {
    border: none;
  }

  .mini-stat .mini-stat-img {
    background-size: cover;
  }

  .mini-stat .mini-stat-icon i {
    font-size: 30px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: #ffffff !important;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
  }

  .inbox-wid .inbox-item {
    position: relative;
    border-bottom: 1px solid rgba(243, 243, 243, 0.9);
    overflow: hidden;
    padding: 10px 0;
  }

  .inbox-wid .inbox-item .inbox-item-date {
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 8px;
  }

  .widget-user {
    overflow: hidden;
  }

  .widget-user .widget-user-desc::after {
    left: 18px;
    bottom: -20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #7a6fbe;
    border-width: 10px;
    margin-left: -1px;
    border-right-color: #7a6fbe;
  }
