
<form class="example-form" (ngSubmit)="onCartAdd(f)" #f="ngForm">

  <!-- <mat-form-field class="example-full-width">
    <input ngModel name="cart_id" #cart_id="ngModel" matInput type="number" placeholder="Enter Cart ID">
  </mat-form-field> -->

  <mat-form-field class="example-full-width" appearance="outline">
    <input ngModel name="fk_u_email_id" #fk_u_email_id="ngModel" matInput type="email" placeholder="Enter Email">
    <!-- <mat-icon matSuffix><i class="far fa-envelope"></i></mat-icon> -->
    <mat-icon matSuffix> <i-feather name="mail"></i-feather></mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select required ngModel name="fk_pro_id" #fk_pro_id="ngModel" placeholder="Select Product">
      <mat-option *ngFor="let item of pronamearr" [value]="item.pro_id">
        {{item.pro_name}}
      </mat-option>
     </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="qty" #qty="ngModel" matInput type="number" placeholder="Enter Quantity">
  </mat-form-field>

  <button class="example-full-width" type="submit" mat-raised-button color="accent">Add Cart</button>
</form>
