.example-form {
    width:100%;
  }
.example-full-width {
  width: 95%;
  margin-top: 10px;
  margin-left:10px;
}
mat-list-item {
  height: 100%;
}
img {
  border-radius: 50%;
  margin-left: 2px;
}
section{
  overflow: hidden;
}