.example-form {
    width:100%;
  }
.example-full-width {
  width: 95%;
  margin-top: 10px;
  margin-left:10px;
}
mat-list-item {
  height: 100%;
}
img {
  border-radius: 50%;
  border: 1px solid blue;
  margin-left: 2px;
}
img:hover {
  transform: scale(1.5); 
}