<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
  
      <mat-card-content>
        <mat-list>
          <mat-list-item>Order ID : #{{order_id}}</mat-list-item>
          <mat-divider></mat-divider>
  
          <mat-list-item>User Email : {{fk_u_email_id}}</mat-list-item>
          <mat-divider></mat-divider>
  
          <mat-list-item>Delivery Partner Email : {{deliveryboy_id}}</mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>Date : {{date}}</mat-list-item>
          <mat-divider></mat-divider>
          
          <mat-list-item>Current Status : {{order_status | titlecase}}</mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>Order Amount : {{order_amount | currency: 'INR'}}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>

      <mat-card-actions>
        <div mat-dialog-actions>
          <button mat-button (click)="onCancelClick()">Close</button>
        </div>
      </mat-card-actions>

    </mat-card>
  </section>
  