
<form class="example-form" (ngSubmit)="onDeliveryboyAdd(f)" #f="ngForm">

  <mat-form-field class="example-full-width">
    <input ngModel name="deliveryboy_id" #deliveryboy_id="ngModel" matInput type="number" placeholder="Enter Deliveryboy ID">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="deliveryboy_name" #deliveryboy_name="ngModel" matInput type="text" placeholder="Enter Deliveryboy Name">
    <mat-icon matSuffix><i class="far fa-user"></i></mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="deliveryboy_address" #deliveryboy_address="ngModel" matInput type="text" placeholder="Enter Deliveryboy Address">
    <mat-icon matSuffix><i class="far fa-address-card"></i></mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <span matPrefix>+91 &nbsp;</span>
    <input ngModel name="deliveryboy_mobileno" #deliveryboy_mobileno="ngModel" type="number" matInput appPhone placeholder="Enter Mobile Number">
    <mat-icon matSuffix><i class="far fa-phone"></i></mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input ngModel name="deliveryboy_email" #deliveryboy_email="ngModel" matInput type="email" placeholder="Enter Email">
    <mat-icon matSuffix><i class="far fa-envelope"></i></mat-icon>
  </mat-form-field>

  <button class="example-full-width" type="submit" mat-raised-button color="accent">Add Deliveryboy</button>
</form>
