.example-form {
  width: 100%;
}

.example-full-width {
  width: 95%;
  margin-top: 10px;
  margin-left: 10px;
}

section {
  margin-top: 20px;
}

mat-icon {
  font-size: 26px !important;
}

.del_partner {
  margin-right: 10px;
  vertical-align: bottom;
}

mat-card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

._label91 {
  vertical-align: super;
  padding-right: 5;
}